body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    text-align: center;    
    background-color: #162753;
    color: #fff;
}

.headshot {
    width: 40%; 
    height: auto;
    align-content: center;
}

.links a {
    display: inline-block;
    margin: 0.5%;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.experience {
    padding-left: 20%;
    padding-right: 20%;
}

.personal {
    text-align: center;
    background-color: #f8f9fa;
}
