body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #f8f9fa;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #9ab4f5;
    color: #fff;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.headshot {
    width: 250px; 
    height: auto;
    align-content: center;
}

.links a {
    display: inline-block;
    margin: 5px 10px;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.experience, .personal {
    padding: 20px;
    margin-left: 300px; 
    margin-right: 300px;
    color: #e40d0d;
}

.exoerience li {
    margin-bottom: 15px;
    margin-left: 200px; 
    margin-right: 300px;
    color: hsl(62, 74%, 50%);
}

.personal {
    text-align: center;
}
